<h3>
    Themes
</h3>
<div class="row">
    <div class="col-md-3 text-center border">
        <div class="Default Theme ">
            <h2>Deafult theme</h2>
            <div class="bg-primary" style="height: 100px;">
                <span>primary</span>
            </div>

            <div class="bg-primary-complementary" style="height: 100px;">
                <span>primary-complementary</span>
            </div>
            <div class="bg-secondary" style="height: 100px;">
                <span>secondary</span>
            </div>
            <div class="bg-secondary-complementary" style="height: 100px;">
                <span>secondary-complementary</span>
            </div>
            <div class="bg-disabled" style="height: 100px;">
                <span>disabled</span>
            </div>

        </div>
        <br>
    </div>
    <div class="col-md-3 text-center border">
        <div class="dark Theme ">
            <h2>Promo dark theme</h2>
            <div class="bg-primary-promotion-dark-theme" style="height: 100px;">
                <span style="color: white">primary</span>
            </div>

            <div class="bg-primary-complementary-promotion-dark-theme" style="height: 100px;">
                <span>primary-complementary</span>
            </div>
            <div class="bg-secondary-promotion-dark-theme" style="height: 100px;">
                <span>secondary</span>
            </div>
            <div class="bg-secondary-complementary-promotion-dark-theme" style="height: 100px;">
                <span>secondary-complementary</span>
            </div>
            <div class="bg-disabled-promotion-dark-theme" style="height: 100px;">
                <span>disabled</span>
            </div>

        </div>
        <br>


    </div>

    <div class="col-md-3 text-center border">
        <div class="light Theme ">
            <h2>promo light theme</h2>
            <div class="bg-primary-promotion-light-theme" style="height: 100px;">
                <span>primary</span>
            </div>

            <div class="bg-primary-complementary-promotion-light-theme" style="height: 100px;">
                <span>primary-complementary</span>
            </div>
            <div class="bg-secondary-light-theme" style="height: 100px;">
                <span>secondary</span>
            </div>
            <div class="bg-secondary-complementary-promotion-light-theme" style="height: 100px;">
                <span>secondary-complementary</span>
            </div>
            <div class="bg-disabled-promotion-light-theme" style="height: 100px;">
                <span>disabled</span>
            </div>

        </div>
        <br>


    </div>
</div>