<div class="component hero-promotion">
    <img src="http://via.placeholder.com/2000x450" class="img-fluid" title="backgroundImageAlt" />

    <div class="container d-flex flex-column justify-content-center align-items-{{alignment}} ">
        <div class="content-block">
            <p class="text-primary-{{themeName}}  {{head-class}}">
                Our Vision and strategy
            </p>
            <p class="text-primary-{{themeName}}  {{copy-text-class}}">
                Our vision is to provide our customers with financial security for retirement. Our teams are commited to achieving this goal,
                and their efforts are being invested in the following strategies to achieve our long-term vision.
            </p>
            <a href="#" target="{{target}}">
                <button type="button" class="cta-primary {{display}}">Primary</button>
            </a>
        </div>
    </div>

</div>