<div class="component  full-width-promotion {{themeName}}">
    
    <!-- <img src="dark-UI.png"  class="img-fluid cover-image d-sm-none " title="backgroundImageAlt" />  -->
    <div class="cover-image bg-sm-gray-light img-fluid " title="{{backgroundImageAlt}} " style="background-image: url( 'dark-UI.png')">
        <div class="container d-flex flex-column justify-content-center align-items-{{alignment}} h-sm-100"  style="height:536px">
            <div class="content-block w-50 w-sm-100 px-4 py-5">
                <p class="{{head-class}}">
                    Our Vision and strategy
                </p>
                <p class="{{copy-text-class}} ">
                    Our vision is to provide our customers with financial security for retirement. Our teams are commited to achieving this goal,
                    and their efforts are being invested in the following strategies to achieve our long-term vision.
                </p>
                <a href="#" target="{{target}}">
                    <button type="button" class="cta-primary  {{display}} ">Primary</button>
                </a>

            </div>
        </div>
    </div>
</div>