<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0,shrink-to-fit=no" name="viewport" />
  <title>Simulating Sitecore Project</title>
  <link rel="stylesheet" href="styles/challenger-theme.css">
</head>

<body>
  <main>
 

    <section class="section section-full" style="margin-bottom: 100px">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="template"></div>
            <div class="component  full-width-promotion {{themeName}}">
    
    <!-- <img src="dark-UI.png"  class="img-fluid cover-image d-sm-none " title="backgroundImageAlt" />  -->
    <div class="cover-image bg-sm-gray-light img-fluid " title="{{backgroundImageAlt}} " style="background-image: url( 'dark-UI.png')">
        <div class="container d-flex flex-column justify-content-center align-items-{{alignment}} h-sm-100"  style="height:536px">
            <div class="content-block w-50 w-sm-100 px-4 py-5">
                <p class="{{head-class}}">
                    Our Vision and strategy
                </p>
                <p class="{{copy-text-class}} ">
                    Our vision is to provide our customers with financial security for retirement. Our teams are commited to achieving this goal,
                    and their efforts are being invested in the following strategies to achieve our long-term vision.
                </p>
                <a href="#" target="{{target}}">
                    <button type="button" class="cta-primary  {{display}} ">Primary</button>
                </a>

            </div>
        </div>
    </div>
</div>
        </div>
      </div>

    </section>
    
   </main>
  

  <section class="section section-full ">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="template2"></div>
          <!-- <div class="component hero-promotion">
    <img src="http://via.placeholder.com/2000x450" class="img-fluid" title="backgroundImageAlt" />

    <div class="container d-flex flex-column justify-content-center align-items-{{alignment}} ">
        <div class="content-block">
            <p class="text-primary-{{themeName}}  {{head-class}}">
                Our Vision and strategy
            </p>
            <p class="text-primary-{{themeName}}  {{copy-text-class}}">
                Our vision is to provide our customers with financial security for retirement. Our teams are commited to achieving this goal,
                and their efforts are being invested in the following strategies to achieve our long-term vision.
            </p>
            <a href="#" target="{{target}}">
                <button type="button" class="cta-primary {{display}}">Primary</button>
            </a>
        </div>
    </div>

</div> -->
      </div>
    </div>

  </section>
  
 </main>
<script src="scripts/challenger.js"></script>


</body>

</html>