<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0,shrink-to-fit=no" name="viewport" />
  <title>Simulating Sitecore Project</title>
  <link rel="stylesheet" href="styles/challenger-theme.css">
</head>

<body>
  <main >
    <section class="section section-full ">
      <div class="two-column-container">

        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 ">


          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">

          </div>
        </div>
      </div>
    </section>


    <section class="section section-full ">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            
<!-- 
  <div class="component promotion promotion-dark-theme">

    <h1 >
        loading from component H1
    </h1>
    <h2 >
        loading from component H2
    </h2>

</div>  
  -->
<!-- var theme=default is the default-theme value promotion-light-theme or if AOL used it it can be alo-promotion-light-theme: it should be passed-->
<div class="component promotion promotion-light-theme">
    <div class="header">
        <h1>
            loading from component H1
        </h1>
    </div>
    <h2>
        loading from component H2
    </h2>
    <i class="material-icons">face</i>
</div>
        </div>
      </div>

    </section>

    <section class="section section-full ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <!-- <h3>
    Themes
</h3>
<div class="row">
    <div class="col-md-3 text-center border">
        <div class="Default Theme ">
            <h2>Deafult theme</h2>
            <div class="bg-primary" style="height: 100px;">
                <span>primary</span>
            </div>

            <div class="bg-primary-complementary" style="height: 100px;">
                <span>primary-complementary</span>
            </div>
            <div class="bg-secondary" style="height: 100px;">
                <span>secondary</span>
            </div>
            <div class="bg-secondary-complementary" style="height: 100px;">
                <span>secondary-complementary</span>
            </div>
            <div class="bg-disabled" style="height: 100px;">
                <span>disabled</span>
            </div>

        </div>
        <br>
    </div>
    <div class="col-md-3 text-center border">
        <div class="dark Theme ">
            <h2>dark theme</h2>
            <div class="bg-primary-dark-theme" style="height: 100px;">
                <span style="color: white">primary</span>
            </div>

            <div class="bg-primary-complementary-dark-theme" style="height: 100px;">
                <span>primary-complementary</span>
            </div>
            <div class="bg-secondary-dark-theme" style="height: 100px;">
                <span>secondary</span>
            </div>
            <div class="bg-secondary-complementary-dark-theme" style="height: 100px;">
                <span>secondary-complementary</span>
            </div>
            <div class="bg-disabled-dark-theme" style="height: 100px;">
                <span>disabled</span>
            </div>

        </div>
        <br>


    </div>

    <div class="col-md-3 text-center border">
        <div class="light Theme ">
            <h2>light theme</h2>
            <div class="bg-primary-light-theme" style="height: 100px;">
                <span>primary</span>
            </div>

            <div class="bg-primary-complementary-light-theme" style="height: 100px;">
                <span>primary-complementary</span>
            </div>
            <div class="bg-secondary-light-theme" style="height: 100px;">
                <span>secondary</span>
            </div>
            <div class="bg-secondary-complementary-light-theme" style="height: 100px;">
                <span>secondary-complementary</span>
            </div>
            <div class="bg-disabled-light-theme" style="height: 100px;">
                <span>disabled</span>
            </div>

        </div>
        <br>


    </div>
</div> -->
          </div>
        </div>
  
      </section>
    <button onclick="click()">click</button>
  </main>
  <script src="scripts/challenger.js" ></script>

 
</body>

</html>